CopySolution.json
{"id":"0b15d608-696f-43e3-9a11-fa9f26f8dcc2","brandColor":"#8C3900","connectionReferences":{"shared_powerappsforadmins":{"connection":{"id":"/new_sharedpowerappsforadmins_52175"}},"shared_office365users":{"connection":{"id":"/mle_sharedoffice365users_ea0ef"}},"shared_sharepointonline":{"connection":{"id":"/mle_sharedsharepointonline_c3e28"}},"shared_onedriveforbusiness":{"connection":{"id":"/mle_sharedonedriveforbusiness_fcfb6"}},"shared_commondataserviceforapps":{"connection":{"id":"/cre76_sharedcommondataserviceforapps_98fc5"}}},"connectorDisplayName":"Control","icon":"data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMzIiIGhlaWdodD0iMzIiIHZlcnNpb249IjEuMSIgdmlld0JveD0iMCAwIDMyIDMyIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPg0KIDxwYXRoIGQ9Im0wIDBoMzJ2MzJoLTMyeiIgZmlsbD0iIzhDMzkwMCIvPg0KIDxwYXRoIGQ9Im04IDEwaDE2djEyaC0xNnptMTUgMTF2LTEwaC0xNHYxMHptLTItOHY2aC0xMHYtNnptLTEgNXYtNGgtOHY0eiIgZmlsbD0iI2ZmZiIvPg0KPC9zdmc+DQo=","isTrigger":false,"operationName":"Export_-_Rename_-_ZIP_-_Import_-_Owner","operationDefinition":{"type":"Scope","actions":{"Parse_JSON_-_Settings":{"type":"ParseJson","inputs":{"content":{"OldInternalName":"_1234","NewInternalName":"_@{triggerBody()['number']}","OldName":"TemplateApp","NewName":"@{triggerBody()['text_1']}","OldSolutonName":"TemplateTestApp","NewSolutonName":"@{triggerBody()['text_2']}","Destination File Path":"/Temp","CurrentTimeStemp":"@{utcNow('hh-mm-ss')}","SP SiteAdresse":"https://thepoweraddictsch.sharepoint.com/sites/PlaygroundSite","SharePoint LibaryName":"Shared%20Documents","NewAppOwner":"@{triggerBody()?['email']}","CurrentUserMailWithoutSpecialCharacters":"marcel_lehmann_thepoweraddicts_ch"},"schema":{"type":"object","properties":{"OldInternalName":{"type":"string"},"NewInternalName":{"type":"string"},"OldName":{"type":"string"},"NewName":{"type":"string"},"OldSolutonName":{"type":"string"},"NewSolutonName":{"type":"string"},"Destination File Path":{"type":"string"},"CurrentTimeStemp":{"type":"string"},"SP SiteAdresse":{"type":"string"},"SharePoint LibaryName":{"type":"string"},"NewAppOwner":{"type":"string"},"CurrentUserMailWithoutSpecialCharacters":{"type":"string"}}}},"runAfter":{},"metadata":{"operationMetadataId":"4bf948ae-d4fd-45f9-8097-7693b88f7d88"}},"Perform_an_unbound_action_-_Export":{"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"PerformUnboundAction","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"actionName":"ExportSolution","item/SolutionName":"@body('Parse_JSON_-_Settings')?['OldSolutonName']","item/Managed":false,"item/ExportAutoNumberingSettings":false,"item/ExportCalendarSettings":false,"item/ExportCustomizationSettings":false,"item/ExportEmailTrackingSettings":false,"item/ExportGeneralSettings":false,"item/ExportMarketingSettings":false,"item/ExportOutlookSynchronizationSettings":false,"item/ExportRelationshipRoles":false,"item/ExportIsvConfig":false,"item/ExportSales":false,"item/ExportExternalApplications":false},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}},"runAfter":{"Parse_JSON_-_Settings":["Succeeded"]},"metadata":{"operationMetadataId":"ed16eb58-8de9-40b3-b847-71feabf86626"}},"Create_file_-_Export":{"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_onedriveforbusiness","operationId":"CreateFile","apiId":"/providers/Microsoft.PowerApps/apis/shared_onedriveforbusiness"},"parameters":{"folderPath":"@body('Parse_JSON_-_Settings')?['Destination File Path']","name":"@{body('Parse_JSON_-_Settings')?['OldSolutonName']}.@{body('Parse_JSON_-_Settings')?['CurrentTimeStemp']}.zip","body":"@base64ToBinary(outputs('Perform_an_unbound_action_-_Export')?['body/ExportSolutionFile'])"},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}},"runAfter":{"Perform_an_unbound_action_-_Export":["Succeeded"]},"runtimeConfiguration":{"contentTransfer":{"transferMode":"Chunked"}},"metadata":{"operationMetadataId":"db9bd335-09f9-4c4b-8b81-ead83c04e178"}},"Destination_folder_path":{"type":"Compose","inputs":"@{body('Parse_JSON_-_Settings')?['Destination File Path']}/@{body('Parse_JSON_-_Settings')?['OldSolutonName']}.@{body('Parse_JSON_-_Settings')?['CurrentTimeStemp']}","runAfter":{"Create_file_-_Export":["Succeeded"]},"metadata":{"operationMetadataId":"894f10de-9e90-4835-b2f2-be2deceaa564"}},"Extract_archive_to_folder":{"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_onedriveforbusiness","operationId":"ExtractFolderV2","apiId":"/providers/Microsoft.PowerApps/apis/shared_onedriveforbusiness"},"parameters":{"source":"@outputs('Create_file_-_Export')?['body/Path']","destination":"@outputs('Destination_folder_path')","overwrite":true},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}},"runAfter":{"Destination_folder_path":["Succeeded"]},"metadata":{"operationMetadataId":"8e604143-4aef-4bfa-8028-06001353eed2"}},"Filter_array_-_InternalName":{"type":"Query","inputs":{"from":"@body('Extract_archive_to_folder')","where":"@contains(item()?['Name'], body('Parse_JSON_-_Settings')?['OldInternalName'])"},"runAfter":{"Extract_archive_to_folder":["Succeeded"]},"metadata":{"operationMetadataId":"9abd14c9-5d9a-486f-9dff-0c2234fe2515"}},"Apply_to_each_2":{"type":"Foreach","foreach":"@body('Filter_array_-_InternalName')","actions":{"Create_file_2":{"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_onedriveforbusiness","operationId":"CreateFile","apiId":"/providers/Microsoft.PowerApps/apis/shared_onedriveforbusiness"},"parameters":{"folderPath":"@{body('Parse_JSON_-_Settings')?['Destination File Path']}/@{body('Parse_JSON_-_Settings')?['OldSolutonName']}.@{body('Parse_JSON_-_Settings')?['CurrentTimeStemp']}/CanvasApps","name":"@replace(items('Apply_to_each_2')?['Name'],body('Parse_JSON_-_Settings')?['OldInternalName'],body('Parse_JSON_-_Settings')?['NewInternalName'])","body":"@body('Get_file_content_2')"},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}},"runAfter":{"Get_file_content_2":["Succeeded"]},"runtimeConfiguration":{"contentTransfer":{"transferMode":"Chunked"}},"metadata":{"operationMetadataId":"714a1710-7c1c-45bc-a918-d66681aff32d"}},"Delete_file":{"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_onedriveforbusiness","operationId":"DeleteFile","apiId":"/providers/Microsoft.PowerApps/apis/shared_onedriveforbusiness"},"parameters":{"id":"@items('Apply_to_each_2')?['Id']"},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}},"runAfter":{"Create_file_2":["Succeeded"]},"metadata":{"operationMetadataId":"86238b09-4e9e-4489-8286-724ea6a70df4"}},"Get_file_content_2":{"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_onedriveforbusiness","operationId":"GetFileContent","apiId":"/providers/Microsoft.PowerApps/apis/shared_onedriveforbusiness"},"parameters":{"id":"@items('Apply_to_each_2')?['Id']","inferContentType":true},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}},"runAfter":{},"metadata":{"operationMetadataId":"93fe87a7-cd15-437b-a4e9-e70f3fda31b0"}}},"runAfter":{"Filter_array_-_InternalName":["Succeeded"]},"metadata":{"operationMetadataId":"7d5b27bd-00c5-4640-8a64-f3321b77f6fd"}},"Filter_array_-_XML":{"type":"Query","inputs":{"from":"@body('Extract_archive_to_folder')","where":"@endswith(item()?['Name'], 'xml')"},"runAfter":{"Extract_archive_to_folder":["Succeeded"]},"metadata":{"operationMetadataId":"c6699d21-f3cb-4b7a-b309-5c8e9e0bc7b7"}},"Apply_to_each":{"type":"Foreach","foreach":"@body('Filter_array_-_XML')","actions":{"Get_file_content":{"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_onedriveforbusiness","operationId":"GetFileContent","apiId":"/providers/Microsoft.PowerApps/apis/shared_onedriveforbusiness"},"parameters":{"id":"@item()?['Id']","inferContentType":true},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}},"runAfter":{},"metadata":{"operationMetadataId":"a318403d-8285-4f31-b9f4-f419fcde4f27"}},"Create_file":{"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_onedriveforbusiness","operationId":"CreateFile","apiId":"/providers/Microsoft.PowerApps/apis/shared_onedriveforbusiness"},"parameters":{"folderPath":"@{body('Parse_JSON_-_Settings')?['Destination File Path']}/@{body('Parse_JSON_-_Settings')?['OldSolutonName']}.@{body('Parse_JSON_-_Settings')?['CurrentTimeStemp']}","name":"@item()?['Name']","body":"@replace(replace(replace(body('Get_file_content'),body('Parse_JSON_-_Settings')?['OldSolutonName'],body('Parse_JSON_-_Settings')?['NewSolutonName']),body('Parse_JSON_-_Settings')?['OldName'],body('Parse_JSON_-_Settings')?['NewName']),body('Parse_JSON_-_Settings')?['OldInternalName'],body('Parse_JSON_-_Settings')?['NewInternalName'])"},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}},"runAfter":{"Delete_file_2":["Succeeded"]},"runtimeConfiguration":{"contentTransfer":{"transferMode":"Chunked"}},"metadata":{"operationMetadataId":"c4671da9-2963-4eb9-851b-f8549dd5fbee"}},"Delete_file_2":{"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_onedriveforbusiness","operationId":"DeleteFile","apiId":"/providers/Microsoft.PowerApps/apis/shared_onedriveforbusiness"},"parameters":{"id":"@items('Apply_to_each')?['Id']"},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}},"runAfter":{"Get_file_content":["Succeeded"]},"metadata":{"operationMetadataId":"86238b09-4e9e-4489-8286-724ea6a70df4"}}},"runAfter":{"Filter_array_-_XML":["Succeeded"]},"metadata":{"operationMetadataId":"380798b6-8583-4985-ab01-ab28c0173f5c"}},"Send_an_HTTP_request_to_SharePoint_-_CopyFolder":{"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_sharepointonline","operationId":"HttpRequest","apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline"},"parameters":{"dataset":"https://thepoweraddictsch.sharepoint.com/sites/PlayGround","parameters/method":"POST","parameters/uri":"_api/site/CreateCopyJobs","parameters/body":"{ \n \"exportObjectUris\":[ \n \"@{first(split(body('Parse_JSON_-_Settings')?['SP SiteAdresse'], '.sharepoint'))}-my.sharepoint.com/personal/@{body('Parse_JSON_-_Settings')?['CurrentUserMailWithoutSpecialCharacters']}/Documents@{encodeUriComponent(outputs('Destination_folder_path'))}\"\n ],\n \"destinationUri\":\"@{body('Parse_JSON_-_Settings')?['SP SiteAdresse']}%2F@{body('Parse_JSON_-_Settings')?['SharePoint LibaryName']}\",\n \"options\":{ \n \"IgnoreVersionHistory\":true,\n \"IsMoveMode\":false,\n \"AllowSchemaMismatch\":true\n }\n}"},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}},"runAfter":{"Apply_to_each":["Succeeded"],"Apply_to_each_2":["Succeeded"]},"metadata":{"operationMetadataId":"38412579-e8ed-407b-aee4-942466d0ccfd"}},"CreateZip":{"type":"Scope","actions":{"accessToken":{"type":"Compose","inputs":"@outputs('SharePointHTTP')?['body']['ListSchema']['.driveAccessToken']","runAfter":{"Do_until":["Succeeded"]},"description":"Collects the Access Token required to access the files","metadata":{"operationMetadataId":"226fc43b-e80f-4107-819c-75addfeb6b48"}},"Select":{"type":"Select","inputs":{"from":"@body('SharePointHTTP')['ListData']['Row']","select":{"name":"@item()['FileLeafRef']","size":"@item()['SMTotalSize']","docId":"@{item()['.spItemUrl']}&@{outputs('accessToken')}","isFolder":"@if(equals(item()['FSObjType'], '1'), true, false)"}},"runAfter":{"accessToken":["Succeeded"]},"description":"Reformats the output of SharePoint HTTP action ready for submission to the Zip endpoint","metadata":{"operationMetadataId":"b4cc0ead-8d55-487a-88f9-35a12126e4a1"}},"Attachment_Items":{"type":"Compose","inputs":{"items":"@body('Select')"},"runAfter":{"Select":["Succeeded"]},"description":"Additional formatting of the Select array","metadata":{"operationMetadataId":"a9d31dec-f686-455b-9a6a-cf43a172b685"}},"settings":{"type":"Compose","inputs":{"libraryPath":"@{slice(body('Parse_JSON_-_Settings')?['SP SiteAdresse'], nthIndexOf(body('Parse_JSON_-_Settings')?['SP SiteAdresse'], '/', 3))}/@{decodeUriComponent(body('Parse_JSON_-_Settings')?['SharePoint LibaryName'])}","zipFolderPath":"/@{body('Parse_JSON_-_Settings')?['OldSolutonName']}.@{body('Parse_JSON_-_Settings')?['CurrentTimeStemp']}"},"runAfter":{},"description":"Set library path to the location of the SharePoint document library that contains the documents for compression. Set zipFolderPath to the relative path of the Folder that you want to archive.","metadata":{"operationMetadataId":"b21f384d-b559-4493-bcb4-22ae7ca435c2"}},"Create_file_-_Solution_ZIP":{"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_sharepointonline","operationId":"CreateFile","apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline"},"parameters":{"dataset":"@body('Parse_JSON_-_Settings')?['SP SiteAdresse']","folderPath":"/@{decodeUriComponent(body('Parse_JSON_-_Settings')?['SharePoint LibaryName'])}/Temp","name":"@{body('Parse_JSON_-_Settings')?['OldSolutonName']}.@{body('Parse_JSON_-_Settings')?['CurrentTimeStemp']}.zip","body":"@base64ToBinary(body('downloadZip')['$content'])"},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}},"runAfter":{"Do_until_2":["Succeeded"]},"description":"Stores the received Zip file in a SharePoint document library","runtimeConfiguration":{"contentTransfer":{"transferMode":"Chunked"}},"metadata":{"operationMetadataId":"4b03e43d-95d2-4b22-a47f-8c109c067caf"}},"Do_until":{"type":"Until","expression":"@not(startsWith(string(body('SharePointHTTP')?['status']), string('40')))","limit":{"timeout":"PT15M"},"actions":{"SharePointHTTP":{"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_sharepointonline","operationId":"HttpRequest","apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline"},"parameters":{"dataset":"@body('Parse_JSON_-_Settings')?['SP SiteAdresse']","parameters/method":"POST","parameters/uri":"_api/web/GetListUsingPath(DecodedUrl=@a1)/RenderListDataAsStream?@a1=%27@{encodeUriComponent(outputs('settings')['libraryPath'])}%27&RootFolder=@{encodeUriComponent(concat(outputs('settings')['libraryPath'], outputs('settings')['zipFolderPath']))}","parameters/body":"{\"parameters\": {\"RenderOptions\": 4103}}"},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}},"runAfter":{},"description":"Retrieves the file and folder information required to create a Zip file","metadata":{"operationMetadataId":"caa4865b-6e12-4eb6-91f9-f4ed4e30c8d0"}},"Delay":{"type":"Wait","inputs":{"interval":{"count":15,"unit":"Second"}},"runAfter":{"SharePointHTTP":["Failed"]},"metadata":{"operationMetadataId":"2ece39f9-7ec3-4b01-9804-07bf97d81f30"}}},"runAfter":{"settings":["Succeeded"]},"metadata":{"operationMetadataId":"283ee27e-f83d-49f4-8ee3-9489d41d167b"}},"Do_until_2":{"type":"Until","expression":"@not(startsWith(string(body('downloadZip')?['status']), string('40')))","limit":{"timeout":"PT15M"},"actions":{"Delay_2":{"type":"Wait","inputs":{"interval":{"count":15,"unit":"Second"}},"runAfter":{"downloadZip":["Failed"]},"metadata":{"operationMetadataId":"2ece39f9-7ec3-4b01-9804-07bf97d81f30"}},"downloadZip":{"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_sharepointonline","operationId":"HttpRequest","apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline"},"parameters":{"dataset":"@body('SharePointHTTP')['ListSchema']['.mediaBaseUrl']","parameters/method":"POST","parameters/uri":"/transform/zip?cs=@{body('SharePointHTTP')['ListSchema']['.callerStack']}","parameters/headers":{"Content-Type":"application/x-www-form-urlencoded"},"parameters/body":"zipFileName=test.zip&guid=@{guid()}&provider=spo&files=@{encodeUriComponent(outputs('Attachment_Items'))}&oAuthToken="},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}},"runAfter":{},"description":"Submits the request to the media server and downloads the Zip file","metadata":{"operationMetadataId":"80b5dbae-481b-4e95-8e0a-e1cea0bd9a2a"}}},"runAfter":{"Attachment_Items":["Succeeded"]},"metadata":{"operationMetadataId":"283ee27e-f83d-49f4-8ee3-9489d41d167b"}}},"runAfter":{"Send_an_HTTP_request_to_SharePoint_-_CopyFolder":["Succeeded"]},"description":"A scope to create a Zip file in Power Automate without the use of 3rd Party Connectors or Premium Actions","metadata":{"operationMetadataId":"e6aa28fd-5467-49d8-817f-0b9baecde313"}},"Get_file_content_-_Solution_ZIP":{"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_sharepointonline","operationId":"GetFileContent","apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline"},"parameters":{"dataset":"@body('Parse_JSON_-_Settings')?['SP SiteAdresse']","id":"@outputs('Create_file_-_Solution_ZIP')?['body/Id']","inferContentType":true},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}},"runAfter":{"CreateZip":["Succeeded"]},"metadata":{"operationMetadataId":"6bb4edb8-b97c-4695-b661-60a56576539f"}},"Perform_an_unbound_action_-_Import":{"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"PerformUnboundAction","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"actionName":"ImportSolution","item/OverwriteUnmanagedCustomizations":true,"item/PublishWorkflows":false,"item/CustomizationFile":"@body('Get_file_content_-_Solution_ZIP')?['$content']","item/ImportJobId":"@guid()","item/ConvertToManaged":false,"item/SkipProductUpdateDependencies":false,"item/HoldingSolution":false,"item/SkipQueueRibbonJob":false,"item/AsyncRibbonProcessing":false,"item/IsTemplateMode":false},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}},"runAfter":{"Get_file_content_-_Solution_ZIP":["Succeeded"]},"metadata":{"operationMetadataId":"3b45ce82-cb1a-430b-b5e4-1c8d9bad8f02"}},"New_App_Owner":{"type":"Scope","actions":{"Get_user_profile_(V2)":{"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_office365users","operationId":"UserProfile_V2","apiId":"/providers/Microsoft.PowerApps/apis/shared_office365users"},"parameters":{"id":"@body('Parse_JSON_-_Settings')?['NewAppOwner']"},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}},"runAfter":{},"metadata":{"operationMetadataId":"9a9ebd62-0946-46b8-baac-c96341a7653e"}},"Set_App_Owner":{"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_powerappsforadmins","operationId":"Set-AdminAppOwner","apiId":"/providers/Microsoft.PowerApps/apis/shared_powerappsforadmins"},"parameters":{"environment":"@workflow()?['tags']?['environmentName']","app":"@first(body('Filter_array'))?['name']","api-version":"2016-11-01","Content-Type":" application/json","body/roleForOldAppOwner":"CanEdit","body/newAppOwner":"@outputs('Get_user_profile_(V2)')?['body/id']"},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}},"runAfter":{"Do_until_3":["Succeeded"]},"metadata":{"operationMetadataId":"a7f5d03d-7dd1-4ab0-a87f-faa859ffe1c3"}},"Do_until_3":{"type":"Until","expression":"@greater(length(body('Filter_array')), 0)","limit":{"count":20},"actions":{"Get_Apps_as_Admin":{"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_powerappsforadmins","operationId":"Get-AdminApps","apiId":"/providers/Microsoft.PowerApps/apis/shared_powerappsforadmins"},"parameters":{"environment":"@workflow()?['tags']?['environmentName']","api-version":"2016-11-01","$top":500},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}},"runAfter":{},"metadata":{"operationMetadataId":"da6bdcaf-34c8-4110-8664-dd018deca3ef"}},"Filter_array":{"type":"Query","inputs":{"from":"@outputs('Get_Apps_as_Admin')?['body/value']","where":"@equals(item()?['properties/displayName'], body('Parse_JSON_-_Settings')?['NewName'])"},"runAfter":{"Get_Apps_as_Admin":["Succeeded"]},"metadata":{"operationMetadataId":"f9f93e87-0e1d-453e-b4c7-764b1d08648d"}},"Condition":{"type":"If","expression":{"greater":["@length(body('Filter_array'))",0]},"actions":{},"runAfter":{"Filter_array":["Succeeded"]},"else":{"actions":{"Delay_3":{"type":"Wait","inputs":{"interval":{"count":30,"unit":"Second"}},"runAfter":{},"metadata":{"operationMetadataId":"9427d85c-5afd-49b5-a6aa-22be06b0da1b"}}}},"metadata":{"operationMetadataId":"72c9c81e-f89a-4a60-9a3d-6308728c04c0"}}},"runAfter":{"Get_user_profile_(V2)":["Succeeded"]},"metadata":{"operationMetadataId":"f9bcccd5-4a4e-46a5-b4ab-863bae0dcb66"}},"Terminate":{"metadata":{"operationMetadataId":"ccc37a5b-d321-4ea2-b3b6-2a53dcdb94e5"},"type":"Terminate","inputs":{"runStatus":"Cancelled"},"runAfter":{"Do_until_3":["TimedOut"]}}},"runAfter":{"Perform_an_unbound_action_-_Import":["TimedOut"]},"metadata":{"operationMetadataId":"fb9a809d-23b3-468f-a739-15171ad1546e"}}},"runAfter":{},"metadata":{"operationMetadataId":"afc8e2aa-a3ce-4a95-815d-66164669a843"}}}
