FocusTimeScheduler.json
{"id":"2bbb8c34-c19c-4b7f-a312-ca96689e207b","brandColor":"#8C3900","connectionReferences":{"shared_office365":{"connection":{"id":"/new_sharedoffice365_2cd2d"}}},"connectorDisplayName":"Control","icon":"data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMzIiIGhlaWdodD0iMzIiIHZlcnNpb249IjEuMSIgdmlld0JveD0iMCAwIDMyIDMyIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPg0KIDxwYXRoIGQ9Im0wIDBoMzJ2MzJoLTMyeiIgZmlsbD0iIzhDMzkwMCIvPg0KIDxwYXRoIGQ9Im04IDEwaDE2djEyaC0xNnptMTUgMTF2LTEwaC0xNHYxMHptLTItOHY2aC0xMHYtNnptLTEgNXYtNGgtOHY0eiIgZmlsbD0iI2ZmZiIvPg0KPC9zdmc+DQo=","isTrigger":false,"operationName":"FocusTime_Scheduler","operationDefinition":{"type":"Scope","actions":{"Parse_JSON_-_variables":{"type":"ParseJson","inputs":{"content":{"FutureDays":7,"FocusDurationInMinutes":120,"FocusTitleForEvent":"🎯 Focus - Sprint & Demands 📝","StartHour":"07:00","EndHour":"16:00","Max Candidates":2},"schema":{"type":"object","properties":{"FutureDays":{"type":"integer"},"FocusDurationInMinutes":{"type":"integer"},"FocusTitleForEvent":{"type":"string"},"StartHour":{"type":"string"},"EndHour":{"type":"string"},"Max Candidates":{"type":"integer"}}}},"runAfter":{},"description":"StartHour - EndHour are UTC","metadata":{"operationMetadataId":"10a9d0b3-10aa-4854-ba55-4c9962c43eac"}},"Do_until":{"type":"Until","expression":"@equals(variables('varFutureDay'),body('Parse_JSON_-_variables')?['FutureDays'])","limit":{"timeout":"PT1H"},"actions":{"Get_future_time":{"type":"Expression","kind":"GetFutureTime","inputs":{"interval":"@variables('varFutureDay')","timeUnit":"Day"},"runAfter":{},"metadata":{"operationMetadataId":"3583f7df-b6f6-4a31-a9fa-5a25fa832f2c"}},"Increment_variable":{"type":"IncrementVariable","inputs":{"name":"varFutureDay","value":1},"runAfter":{"For_each":["Succeeded"]},"metadata":{"operationMetadataId":"fac800be-2f11-44f0-80f7-f9425a2b407e"}},"Parse_JSON_-_DateTime":{"type":"ParseJson","inputs":{"content":{"StartTime":"@{formatDateTime(body('Get_future_time'),'yyyy-MM-dd')}T@{body('Parse_JSON_-_variables')?['StartHour']}","EndTime":"@{formatDateTime(body('Get_future_time'),'yyyy-MM-dd')}T@{body('Parse_JSON_-_variables')?['EndHour']}"},"schema":{"type":"object","properties":{"StartTime":{"type":"string"},"EndTime":{"type":"string"}}}},"runAfter":{"Get_future_time":["Succeeded"]},"metadata":{"operationMetadataId":"b2201216-9a49-4027-ba9a-9c9bb7a9ee58"}},"Find_meeting_times_(V2)":{"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_office365","operationId":"FindMeetingTimes_V2","apiId":"/providers/Microsoft.PowerApps/apis/shared_office365"},"parameters":{"body/MeetingDuration":"@body('Parse_JSON_-_variables')?['FocusDurationInMinutes']","body/Start":"@body('Parse_JSON_-_DateTime')?['StartTime']","body/End":"@body('Parse_JSON_-_DateTime')?['EndTime']","body/MaxCandidates":"@body('Parse_JSON_-_variables')?['Max Candidates']","body/MinimumAttendeePercentage":"100","body/IsOrganizerOptional":false,"body/ActivityDomain":"Work"},"authentication":"@parameters('$authentication')"},"runAfter":{"Parse_JSON_-_DateTime":["Succeeded"]},"metadata":{"operationMetadataId":"b98aa37c-1987-4300-a731-b06526a08f72"}},"For_each":{"type":"Foreach","foreach":"@outputs('Find_meeting_times_(V2)')?['body/meetingTimeSuggestions']","actions":{"Create_event_(V4)":{"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_office365","operationId":"V4CalendarPostItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_office365"},"parameters":{"table":"AAMkADUwYjg0MmRiLWNiY2YtNGIzNC04NzU4LWI0Njg5ZTVhYzNjOQBGAAAAAAAHZh1toxpxRLC8dtkQyMqYBwAC1lNFA6E7SZ3EIbEvczz0AAAAAAEGAAAC1lNFA6E7SZ3EIbEvczz0AAAVKH85AAA=","item/subject":"@body('Parse_JSON_-_variables')?['FocusTitleForEvent']","item/start":"@items('For_each')?['meetingTimeSlot/start/dateTime']","item/end":"@items('For_each')?['meetingTimeSlot/end/dateTime']","item/timeZone":"@items('For_each')?['meetingTimeSlot/start/timeZone']","item/showAs":"busy"},"authentication":"@parameters('$authentication')"},"runAfter":{},"metadata":{"operationMetadataId":"0588a05e-00e2-47d6-88d0-2ef1f0c335a6"}}},"runAfter":{"Find_meeting_times_(V2)":["Succeeded"]},"metadata":{"operationMetadataId":"955791b2-2b75-4be0-81be-bd4225be6d93"}}},"runAfter":{"Parse_JSON_-_variables":["Succeeded"]},"metadata":{"operationMetadataId":"bfdf4f54-8947-4d96-a007-4d22bc5742bb"}}},"runAfter":{"Initialize_variable_-_varFutureDay":["Succeeded"]}}}
