Get Lowest /Highest SharePoint ID & TotalCount.json
{"nodeId":"Scope_-_Sharepoint_Counts-copy-copy","serializedOperation":{"type":"Scope","actions":{"Parse_JSON_-_Parameter":{"type":"ParseJson","inputs":{"content":{"SPListTitle":"DelegationPlayground","SPSiteURL":"https://thepoweraddictsch.sharepoint.com/sites/PlayGround"},"schema":{"type":"object","properties":{"SPListTitle":{"type":"string"},"SPSiteURL":{"type":"string"}}}},"metadata":{"operationMetadataId":"ca8910bc-8b5d-4ee7-a208-e96540d691ca"}},"HTTP_request_to_SharePoint_-_Get_Lowest_ID":{"type":"OpenApiConnection","inputs":{"parameters":{"dataset":"@body('Parse_JSON_-_Parameter')?['SPSiteURL']","parameters/method":"GET","parameters/uri":"/_api/Web/Lists/GetByTitle('@{body('Parse_JSON_-_Parameter')?['SPListTitle']}')/Items?$select=ID&$filter=ID gt 0&$top=1&$orderby=ID asc\n"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connection":"shared_sharepointonline","operationId":"HttpRequest"}},"runAfter":{"Parse_JSON_-_Parameter":["Succeeded"]},"metadata":{"operationMetadataId":"55e748c4-6740-47e5-8588-134bc794c7f8"}},"HTTP_request_to_SharePoint_-_Get_Highest_ID":{"type":"OpenApiConnection","inputs":{"parameters":{"dataset":"@body('Parse_JSON_-_Parameter')?['SPSiteURL']","parameters/method":"GET","parameters/uri":"/_api/Web/Lists/GetByTitle('@{body('Parse_JSON_-_Parameter')?['SPListTitle']}')/Items?$select=ID&$filter=ID gt 0&$top=1&$orderby=ID desc\n"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connection":"shared_sharepointonline","operationId":"HttpRequest"}},"runAfter":{"HTTP_request_to_SharePoint_-_Get_Lowest_ID":["Succeeded"]},"metadata":{"operationMetadataId":"0d47f1a3-54a2-4bab-891c-e47837f29c8e"}},"HTTP_request_to_SharePoint_-_Total_Count":{"type":"OpenApiConnection","inputs":{"parameters":{"dataset":"@body('Parse_JSON_-_Parameter')?['SPSiteURL']","parameters/method":"GET","parameters/uri":"/_api/Web/Lists/GetByTitle('@{body('Parse_JSON_-_Parameter')?['SPListTitle']}')/ItemCount\n"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connection":"shared_sharepointonline","operationId":"HttpRequest"}},"runAfter":{"HTTP_request_to_SharePoint_-_Get_Highest_ID":["Succeeded"]},"metadata":{"operationMetadataId":"10db2e4c-7af2-4099-8838-9cb99f6fb17d"}},"Parse_JSON-Output":{"type":"ParseJson","inputs":{"content":{"Lowest":"@ body('HTTP_request_to_SharePoint_-_Get_Lowest_ID')['d']['results'][0]['ID']","Highest":"@ body('HTTP_request_to_SharePoint_-_Get_Highest_ID')['d']['results'][0]['ID']","Total":"@body('HTTP_request_to_SharePoint_-_Total_Count')['d']['ItemCount']"},"schema":{"type":"object","properties":{"Lowest":{"type":"integer"},"Highest":{"type":"integer"},"Total":{"type":"integer"}}}},"runAfter":{"HTTP_request_to_SharePoint_-_Total_Count":["Succeeded"]},"metadata":{"operationMetadataId":"05df1f21-f045-4698-b1f7-0495a6321bf3"}}},"runAfter":{},"metadata":{"operationMetadataId":"416f4287-fa98-48c1-bbd7-62f58c66d50a"}},"allConnectionData":{"HTTP_request_to_SharePoint_-_Get_Lowest_ID":{"connectionReference":{"api":{"id":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline"},"connection":{"id":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline/connections/shared-sharepointonl-30af94b9-df91-41a2-ab14-51409d7ee6c0"},"connectionName":"shared-sharepointonl-30af94b9-df91-41a2-ab14-51409d7ee6c0"},"referenceKey":"shared_sharepointonline"},"HTTP_request_to_SharePoint_-_Get_Highest_ID":{"connectionReference":{"api":{"id":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline"},"connection":{"id":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline/connections/shared-sharepointonl-30af94b9-df91-41a2-ab14-51409d7ee6c0"},"connectionName":"shared-sharepointonl-30af94b9-df91-41a2-ab14-51409d7ee6c0"},"referenceKey":"shared_sharepointonline"},"HTTP_request_to_SharePoint_-_Total_Count":{"connectionReference":{"api":{"id":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline"},"connection":{"id":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline/connections/shared-sharepointonl-30af94b9-df91-41a2-ab14-51409d7ee6c0"},"connectionName":"shared-sharepointonl-30af94b9-df91-41a2-ab14-51409d7ee6c0"},"referenceKey":"shared_sharepointonline"}},"staticResults":{},"isScopeNode":true,"mslaNode":true}
